*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Archivo Narrow';
}
body {
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 100vh;    
  >div{
    display: flex;
    flex-direction:row;
    width: auto;
  }  
}
nav{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

section{
    background: linear-gradient(135deg, var(--dark), var(--light));
    border: var(--accent) solid 1em;
    color: var(--accent);
    height: 450px;
    width: 350px;
    margin: 0 auto;
    border-radius: 2em;
    display: block;
    article{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: .1em;
        padding: .5em 2em;
        width: 100%;
        h1{
            font-size: 1.5em;
        }
        p{
            font-size: .8em;
            span{
                font-size: 2em;
            }
        }
    }
    article{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: .1em;
        padding: .5em 2em;
        width: 100%;
        h1{
            font-size: 1.5em;
        }
        p{
            font-size: .8em;
            span{
                font-size: 2em;
            }
        }
    }
    div{
        background-color: var(--accent);
        width:90% ;
        margin: 0 auto;
        border-radius: 1em;
    
    }
    img{
        display:block;
        width: 50%;
        margin: 1em auto;
        height: auto;
       
    }
    ul{
        display: flex;
        list-style: none;
        gap: 1em;
        margin: 2em 1em;
        li{
            span:nth-of-type(1){
                border-radius: 50%  ;
                width: 2.5em;
                height: 2.5em;
                display: flex;              
                justify-content: center;    
                align-items: center; 
    
            }
            span:nth-of-type(2){
                font-size: 1em ;
                font-weight: 600;
                margin-left:.3em ;
            }
    }
    
    }
}

aside{
    display: flex;
    background: linear-gradient(#959595, #D9D9D9 ,#959595);
    height: 2em;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    font-size: 1em;
    font-weight: 600;
}

.pokemon aside {
  color: var(--dark);
}

.pokemon li span:nth-of-type(1) {
  background: radial-gradient(circle at top left, var(--light), var(--dark));
  display: inline-flex;
}

